*{
  margin: 0px;
  padding: 0px;
  font-family: Karla, sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: Markazi Text, serif;
  font-weight: 500;
}

button{
  box-shadow: none;
  border-width: 0px;
}

header img{
  width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #495e57;
}

nav{
  display: grid;
  align-items: center;
}
nav ul{
  margin-bottom: 0px;
}
nav li{
  display: flex;
}
nav a{
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  transition: 0.3s;
  border-radius: 5px;
}
nav a:hover{
  padding:5px;
  color:#f4ce14;
  background-color: #495e57;
  transition: 0.3s;
}

.container{
  max-width: 960px;
}
main.container-fluid{
  margin: 0px;
  padding: 0px;
}
div.hero-section{
  background-color: #495e57;
  max-height: 300px;
}
.hero-section h1{
  color:#f4ce14;
  margin-bottom: 0px;
}
.hero-section h1, .hero-section h2{
  line-height: 30px;
}
.hero-section h2, .hero-section p{
  color: #edefee;
}
.hero-section p{
  width: 400px;
}
button.yellowButton{
  background: #f4ce14;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}
button.yellowButton:hover{
  background-color: #ee9972;
  transition: 0.3s;
}
button.yellowButton:active{
  background-color: #333;
  color: #edefee;
  transition: 0.3s;
}
.hero-section .imgContainer{
  display: grid;
}
.hero-section img{
  width: 50%;
  overflow: visible;
  margin-left: auto;
}

section.specials{
  margin-top: 100px;
}
.specials img{
  width: 100%;
  max-height: 197px;
}
.specials .innerContainer{
  background-color: #edefee;
  min-height: 290px;
}
.innerContainer h3{
  font-size: 20px;
  font-weight: bold;
}
.innerContainer .row p{
  display: grid;
  justify-content: end;
  font-weight: bold;
  color: #ee9972;
}
.innerContainer .textArea{
  min-height: 175px;
}
div.buttonContainer{
  display: grid;
  justify-content: end;
  padding-right: 35px;
}

section.testimonials{
  padding: 50px 0px;
}
img.star{
  width: 20px;
}
.testimonials p.name{
  display: grid;
  align-items: center;
  margin-bottom: 0px;
}
.testimonalContainer{
  background-color: #edefee;
  min-height: 330px;
}
p.quote{
  margin-bottom: 0px;
}

footer img{
  width: 50%;
  margin: auto;
}
footer h2{
  color: #333;
}
footer nav{
  display: block;
}
footer .imgContainer{
  display: grid;
  align-items: center;
}

/* Media query for screens with a maximum width of 480 pixels */
@media (max-width: 480px) {
  body {
    font-size: 12px;
    margin: 10px;
  }
  footer h2,
  footer li,
  footer nav li{
    text-align: center;
    justify-content: center;
  }
  footer ul, nav ul{
    padding-left: 0px;
  }
  footer img{
    width: 20%;
  }
}
