*{
  margin: 0px;
  padding: 0px;
  font-family: Karla, sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: Markazi Text, serif;
  font-weight: 500;
}

header img{
  width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #495e57;
}

nav li{
  display: flex;
}
nav a{
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
  transition: 0.3s;
  border-radius: 5px;
}
nav a:hover{
  padding:5px;
  color:#f4ce14;
  background-color: #495e57;
  transition: 0.3s;
}

footer img{
  width: 100px !important;
}
footer h2{
  color: #333;
}